/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section {
	display: inline-block;
}

body {
	display: flex;
	flex-direction: column;
	line-height: 1;
	color: #0e1010;
	background: url(Assets/Images/justTest.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color:rgb(19, 18, 18);
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	margin: 0;
}

h3 {
	font-size: 2rem;
	margin: 2%
}

p {
	/* color: #c9c9bb; */
	font-size: calc(1rem + .5vw);
}

li {
	font-size: 1.5rem;
}

.inactive {
	display: none;
}

.active {
	display: block;
}

a {
	color: #adbdba;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.contentOne {
	height: 100%;
	/* background-color: red; */
}

/* End General Styles */

/* Navigation */

/* Main Navigation */

.navigation {
	/*Main Navigation Container */
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	top: 0;
	margin: 0;
	width: 100dvw;
	min-width: 300px;
	height: 5vh;
	min-height: 3rem;
	z-index: 99;
	background: #0e1010af;
}

header {
	width: 100%;
}

.mainNavigation {
	/*Main Navigation Links (Always Visible */
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	/* background-color:red; */
}

.mainNavigation a {
	/*Main Navigation Anchor Tag Styling (Always Visible*/
	align-self: center;
	font-size: calc(.9rem + 1vw);
}

.logoContainer {
	/*Main Navigation Logo Container*/
	display: flex;
	justify-content: center;
	width: 15vw;
	height: 100%;
	z-index: 5;
	/* background-color: blue; */
}

#additionalNav {
	/* Additional Navigation (Hidden Initially) */
	position: absolute;
	margin: 0;
	height: 100vh;
	width: 100%;
	transform: translateX(150vw);
	/* Makes the Additional Navigation Hidden by Moving Off Screen */
	transition: transform 600ms ease-in-out;
	background: linear-gradient(180deg, #000000ea 0%, #000000be 100%);
}

.additionalNavMenu {
	/* Additional Navigation List Element Container*/
	position: relative;
	margin: 15vh 0;
	min-height: fit-content;
	height: 100%;
	/* background-color: blue; */
}

.additionalNavMenu li {
	/* Additional Navigation List Elements */
	position: relative;
	margin: 10vh auto;
	min-width: fit-content;
	width: 100%;
	min-height: fit-content;
	height: 3vh;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	/* background-color: red; */
}

.additionalNavMenu li a {
	/* Additional Navigation Anchor Tag Styling */
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	font-size: calc(1.5rem + .75vw);
	color: #adbdba;
}

.additionalLink:hover {
	/*Make Anchor Tags Scale up on Mouse Hover */
	scale: 1.1;
	/* color: red; */
}

input[type="checkbox"]:checked~#additionalNav {
	/* Move Additional Nav Onto the Screen */
	transform: translateX(0vw);
}

input[type="checkbox"] {
	/* Hides the Basic Checkbox Created for Hamburger Menu */
	display: none;
}

.hamburgerMenu {
	/*Hamburger Menu Container */
	align-self: center;
	align-content: center;
	height: fit-content;
	cursor: pointer;
	z-index: 99;
	/* background-color: yellow; */
}

.bar {
	/* Bars for the Hmaburger Menu */
	transition: all 0.5s;
	position: relative;
	margin: .25rem auto;
	min-height: .15rem;
	height: .5vw;
	max-height: .25rem;
	min-width: 1.25rem;
	width: 5vw;
	max-width: 2.5rem;
	border-radius: .25rem;
	background-color: #adbdba;
}

/* Bar Movement on Hamburger Menu Click */

input[type="checkbox"]:checked~.hamburgerMenu>.bar {
	/*When input is checked rotate bars 315 deg */
	transform: rotate(315deg);
}

input[type="checkbox"]:checked~.hamburgerMenu>.bar:nth-child(1) {
	/*Make the first bar opaque */
	opacity: 0;
}

input[type="checkbox"]:checked~.hamburgerMenu>.bar:nth-child(3) {
	/*Rotate the Last Bar 225deg and move up to form 'x' */
	transform: rotate(225deg);
	position: relative;
	top: -.45rem;
}

/* End Bar Movement on Click */

/* End Navigation */

#hero {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	height: 100dvh;
	width: 100%;
	min-width: 300px;
	/* background: url(Assets/Images/looking.jpg);
	background-size: cover;
	background-repeat: no-repeat; */
}

/* Media Break at  */

.heroLandingContent {
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0 auto;
	overflow-y: hidden;
	background: url(Assets/Images/LogryanIndex.png);
	background-size:cover;
	background-repeat: no-repeat;
}

.heroContentContainer {
	/* Landing Page Hero Section Content Container */
	position: relative;
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 80%;
	max-width: 1000px;
	min-width: 300px;
	margin: 10vh auto;
	/* background-color: blue; */
}


.heroLandingImage {
	width: 100%;
	width: 450px;
	height: 100%;
	min-height: 600px;
	max-height: 800px;
	position: relative;
	/* background-color: purple; */
}

.heroText p {
	/* Landing Page Hero Section Content Text */
	/* background-color: red; */
	text-align: center;
	color: #adbdba;
	height: auto;
	font-size: calc(2rem + 2vw);
}

.heroButtonContainer {
	/* Landing Page Hero Section Content Button Container */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	min-width: fit-content;
	width: 75%;
	height: fit-content;
	margin: 0 auto;
	/* background-color: green;   */
}

@media (min-width: 1024px) {
	.heroButtonContainer {
		flex-direction: row;
	}
}

.heroButton {
	/* Landing Page Hero Section Content Buttons */
	display: flex;
	align-self: center;
	min-width: 8rem;
	width: 20vw;
	max-width: 10rem;
	min-height: 2rem;
	height: 5vh;
	max-height: 2.5rem;
	margin: .75rem auto;
	font-family: Georgia, Times, serif;
	color: #0e1010;
	cursor: pointer;
	border-radius: 2rem;
	background: #b0b0b0;
	outline: 2px solid #0e1010;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.heroButtonTextWrap {
	/* Landing Page Hero Section Content Buttons Text Container*/
	margin: auto;
	align-self: center;
}

.buttonMainText {
	/* Landing Page Hero Section Content Buttons Text */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #0e1010;
}

/* Landing Page Hero Section Content Button Hover Effects */

.heroButton:hover {
	color: #3b3b3b;
	background: #c9c9bb;
}

.heroButton:nth-child(2) {
	color: #3b3b3b;
	background: #6493a5;
}

.heroButton:nth-child(2):hover {
	color: #3b3b3b;
	background: #c9c9bb;
}

/* Landing Page Hero Section Content Button Hover Effects */

/* Contact Page*/

/* Contact Form */

.contactHeroContainer {
	margin: 0 auto;
	width: 100%;
	max-width: 2048px;
	height: 65vh;
	padding: 0;
	display: flex;
	justify-content: space-around;
	color: #adbdba;
	background-color:rgb(35, 35, 35);
	border-bottom: 1px solid black;
}

.contactTextContainer {
	height: auto;
	position: relative;
	margin: 8vh 2vw;
	max-height: 40vh;
	/* background-color: blue; */
}

.contactHeroImage {
	/* background-color: red; */
	width: auto;
	min-width: 150px;
	margin: auto;
	margin-bottom: 0;
	height: 90%;
}

.contactHeroContainer p {
	position: relative;
	height: fit-content;
	margin: auto 4vw;
	margin-right: 0;
	font-size: calc(3rem + 2vw);
	/* background-color: red; */
}

@media (max-height: 220px) {
	.contactHeroContainer p {
		font-size: calc(1rem + 2vw);
	}
}

@media (min-height: 220px) and (max-height: 300px) {
	.contactHeroContainer p {
		font-size: calc(1.25rem + 2vw);
	}
}

@media (min-height: 300px) and (max-height: 420px) {
	.contactHeroContainer p {
		font-size: calc(1.75rem + 2vw);
	}
}

@media (min-height: 420px) and (max-height: 730px) {
	.contactHeroContainer p {
		font-size: calc(2.15rem + 2vw);
	}
}

@media (min-height: 730px) and (max-height: 775px) {
	.contactHeroContainer p {
		font-size: calc(2.5rem + 2vw);
	}
}

.quickContainer {
	margin: auto;
	height: auto;
	width: 100%;
	min-width: 330px;
	color: #adbdba;
	/* background-color: green; */
}

.quickContainer>h3 {
	position: relative;
	margin-top: 2.5rem;
	text-align: center;
	font-size: calc(1.5rem + 1vw);
	color: #773a30;
}

.quickLinkContainer {
	align-self: center;
	margin: auto;
	min-width: fit-content;
	justify-content: center;
	list-style-type: none;
	text-align: center;
	max-width: 45%;
	/* background-color: red; */
}

.quickLinkContainer li {
	margin: 2rem auto;
	width: 80%;
	min-width: 200px;
	max-width: 600px;
	height: 4rem;
	min-height: fit-content;
	padding: .25rem 0;
	align-content: center;
	border-radius: .5rem;
	outline: 1px solid #adbdba;
}

a.quickLink {
	color: #adbdba;
}

/* Frequently Asked Questions */

#faq {
	/* background-color: #496b78; */
	margin: 0 auto;
	width: 100%;
	padding: 0;
	min-width: 330px;
	color: #adbdba;
}

.faqContianer h3 {
	margin: auto;
	align-self: center;
	text-align: center;
	width: fit-content;
	padding: 1rem;
	font-size: calc(1.5rem + .5vw);
	color: #773a30;
	/* background-color: grey; */
}

.faqContianer {
	/* padding: 2rem; */
	margin: 0 auto;
	width: 90%;
	/* background-color: blue; */
}

.questionsContainer {
	margin: auto;
	width: 100%;
	max-width: 1280px;
	/* background-color: red; */
}

.questionContent {
	position: relative;
	width: fit-content;
	width: 100%;
	margin: auto;
	padding: 1rem;
}

.question {
	cursor: pointer;
	width: 100%;
	margin: 3vh auto;
	font-size: calc(1.25rem + .5vw);
	/* background-color: purple; */
}

.answer {
	padding: 0;
	width: 95%;
	margin: auto;
	font-size: calc(1.15rem + .5vw);
	/* background-color: red; */
}

/* End Frequently Asked Questions */

/* Contact Information/Form */

#contact {
	margin: auto;
	width: 100%;
	color: #adbdba;
	/* background-color: #77989f; */
}

.contactInfo h3 {
	font-size: calc(1.5rem + 1vw);
	text-align: center;
	color: #773a30;
}

.contactInfo {
	width: 100%;
	max-width: 1480px;
	margin: 0 auto;
	padding: 1rem;
	/* background-color: green; */
}

.contactInfo p {
	width: 90%;
	padding: 1rem;
	margin: 1.5rem auto;
	font-size: calc(1.25rem + .5vw);
	/* background-color: blue; */
}

.contactContentContainer {
	width: 100%;
	/* background-color: pink; */
}

.contactInfo p:nth-child(3) {
	text-align: center;
}

#formContainer {
	width: 100%;
	min-width: 50%;
	height: fit-content;
	margin: 0 auto;
	position: relative;
	margin-bottom: 2rem;
	/* background-color: blue; */
}

#contactForm {
	width: 95%;
	max-width: 1240px;
	height: fit-content;
	margin: auto;
	padding-top: .25rem;
	display: flex;
	flex-direction: column;
	/* background-color: green; */
}

#contactFormText {
	margin: auto;
	margin-bottom: 1.25rem;
	font-size: calc(1.5rem + 1vw);
	padding: 1rem;
	padding-bottom: 2rem;
	text-align: center;
	/* background-color: pink; */
}

input {
	height: 4rem;
	border-radius: .5rem;
	width: 100vw;
	max-width: 390px;
	border: none;
	padding: 0;
	margin: auto 5vw;
	border: 1px solid black;
	/* background-color: grey; */
}

label {
	font-size: calc(1rem + .5vw);
	margin: 1rem 3.5vw;
}

@media (min-width: 2000px) {
	label {
		margin: 1rem 2vw;
	}
}

@media (min-width: 1200px) {
	input {
		margin: auto 4rem;
	}
}

@media (min-width: 460px) and (max-width: 1200px) {
	input {
		margin: auto 5vw;
	}
}

@media (max-width: 460px) {
	input {
		min-width: 0;
		width: 90%;
		margin: auto;
	}
}

textarea {
	padding: 1rem;
	width: 90%;
	height: 12rem;
	margin: auto;
	margin-top: 2rem;
	border-radius: .5rem;
	/* background:grey; */
	border: 1px solid black;
}

input[type="submit"] {
	align-self: center;
	margin: 1.5rem auto;
	border-radius: 2rem;
	width: 65%;
	max-width: 15vw;
	font-size: calc(.75rem + .25vw);
	min-width: 10rem;
}

/* End Contact Form */

#additionalInfo {
	width: 100%;
	color: #adbdba;
	/* background-color: blue; */
}

.informationContainer {
	width: 90%;
	max-width: 2048px;
	margin: auto;
	/* background-color: purple; */
}

.informationTitle {
	font-size: calc(1.5rem + 1vw);
	margin: 4vh auto;
	margin-top: 6vh;
	width: 85%;
	text-align: center;
	color: #773a30;
	/* background-color: red; */
}

.informationDisclaimer {
	width: 90%;
	max-width: 1480px;
	padding: 0;
	height: auto;
	margin: 4vh auto;
	/* background-color: yellow; */
}

.informationDisclaimer p {
	width: 90%;
	margin: 3vh auto;
	font-size: calc(1.05rem + .75vw);
	/* background-color: green; */
}

.firstDisclaimer {
	margin: -1vh auto;
}

.informationList {
	position: relative;
	width: 90%;
	max-width: 1480px;
	padding: .5rem;
	margin: 2vh auto;
	margin-bottom: 2vh;
	list-style-type: none;
	/* background-color: green; */
}

.informationList li {
	list-style-type: none;
	width: 90%;
	font-size: calc(1.05rem + .75vw);
	margin: auto;
	padding: .25rem;
	/* background-color: red; */
}

.informationList:nth-child(2) li {
	/* margin: 1rem auto;
  margin-left: 3rem;
  font-size: 1.3rem; */
	margin-bottom: 1rem;
	/* background-color: yellow; */
}

.informationList:nth-child(3) {
	display: flex;
	flex-direction: column;
	list-style-type: disc;
	/* background-color: red; */
}

.informationSubList li {
	list-style-type: disc;
	width: 75%;
	max-width: 1048px;
	padding: .25rem;
	margin: 2vh auto;
	font-size: calc(1.05rem + .75vw);
	text-align: left;
	/* background-color: yellow; */
}

.informationSubList {
	margin: auto;
	width: 85%;
	padding: .25rem;
	/* background-color: pink; */
}

.informationSubList:nth-child(1) {
	margin: auto;
	width: 100%;
	/* background-color: red; */
}

/* End Contact Information/Form */

/* About Page */

/* About Hero Content */

#about {
	margin: 0;
	height: auto;
	display: flex;
	min-width: 305px;
	flex-direction: column;
}

.aboutHero {
	margin: 2vh auto;
	margin-top: 0;
	width: 100%;
	height: 65vh;
	padding: 0;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgb(35, 35, 35);
	background-color: rgb(19, 18, 18);
}
.aboutHeroText {
	position: relative;
	margin: 8vh auto;
	width: 50%;
	height: fit-content;
	/* background-color: blue; */
}


@media (max-width: 750px) {
	.aboutHeroText {
		left: 6vw;
	}

}

.heroText {
	color: #adbdba;
	margin: 5vh auto;
	font-size: calc(2.25rem + 2vw);
	/* background-color: red; */
}

@media (max-height: 355px) {
	.heroText {
		font-size: calc(1rem + 2vw);
	}
}

@media (min-height: 355px) and (max-height: 525px) {
	.heroText {
		font-size: calc(1.5rem + 2vw);
	}
}

@media (min-height: 525px) and (max-height: 740px) {
	.heroText {
		font-size: calc(2rem + 2vw);
		margin: 0;
	}
}

.aboutHeroImage {
	width: auto;
	min-width:150px;
	max-height: 90%;
	margin:  auto 10vw;
	margin-left: 0;
	margin-right: 15vw;
	margin-bottom: 1vh;
	/* background-color: red; */
}

@media (max-width: 360px) {
	.aboutHeroImage {
		margin-right: 3vw;
	}
}

@media (min-width: 360px) and (max-width:600px) {
	.aboutHeroImage {
		margin-right: 10vw;
	}
}

.aboutMeContainer {
	padding: 2rem 0;
	width: 90%;
	max-width: 1480px;
	margin: auto;
	border-radius: 1rem;
}

.aboutTitle {
	margin: 3vh auto;
	padding: 1rem;
	width: fit-content;
	text-align: center;
	font-size: calc(1.5rem + 1vw);
	color: #773a30;
}

.aboutText {
	width: 85%;
	min-width: 275px;
	margin: .5rem auto;
	text-indent: 2rem;
	font-size: calc(1.2rem + 1vw);
	color: #adbdba;
	/* background-color: yellow; */
}

@media (min-width: 700px) {
	.aboutText {
		font-size: 1.5rem;
	}
}


/* End About Me Page */

/* Portfolio Page */

.portfolioHeroContainer {
	/* background-color: #36464d; */
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	height: 65vh;
	padding: 0;
	overflow-y: hidden;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid black;
	background-color: rgb(19, 18, 18);
}

.portfolioHeroImage {
	height: 90%;
	min-width: 150px;
	position: relative;
	margin: auto 2vw;
	margin-right: 0;
	margin-bottom: 0;
}

@media (max-width:440px) {
	.portfolioHeroImage {
		left: 0;
	}
}


.portfolioHeroText {
	position: relative;
	margin: 8vh 10vw;
	width: 50%;
	height: auto;
	text-align: right;
	margin-left: -1rem;
	font-size: calc(3rem + 2vw);
	color: #adbdba;
	/* background-color: red; */
}

@media (max-width: 360px) {
	.portfolioHeroText {
		font-size: calc(2rem + 1vw);
	}
}

@media (max-height: 270px) {
	.portfolioHeroText {
		font-size: calc(1rem + 2vw);
	}
}

@media (min-height: 270px) and (max-height: 400px) {
	.portfolioHeroText {
		font-size: calc(1.5rem + 2vw);
	}
}

@media (min-height: 400px) and (max-height: 520px) {
	.portfolioHeroText {
		font-size: calc(2rem + 2vw);
	}
}

@media (min-height: 520px) and (max-height: 650px) {
	.portfolioHeroText {
		font-size: calc(2.25rem + 2vw);
	}
}

@media (min-height: 650px) and (max-height: 775px) {
	.portfolioHeroText {
		font-size: calc(2.5rem + 2vw);
	}
}

.portfolioShowcaseContainer {
	margin: 0 auto;
	width: 100%;
	max-width: 2048px;
	/* background-color: red; */
}

.portfolioShowcaseText {
	margin: 0 auto;
	width: 75%;
	min-width: 315px;
	max-width: 1280px;
	padding: 2rem;
	font-size: calc(1rem + .5vw);
	color: #adbdba;
}

.portfolioCard {
	padding: .5rem;
	height: auto;
	width: 90%;
	min-width: 315px;
	margin: auto;
	color: #adbdba;
	/* outline: 1px solid black; */
	/* background-color: grey; */
}

.projectImageContainer {
	height: 65vw;
	min-height: 250px;
	max-height: 500px;
	width: 90%;
	max-width: 650px;
	margin: 2vh auto;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	border: 1px solid black;
}

.projectImage:hover {
	scale: 1.03;
	cursor: pointer;
}

.catergoryContainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 0 0 2rem 2rem;
	min-width: fit-content;
	height: 4rem;
	background: #36464d;
}

.projectImage {
	width: 100%;
	border-radius: 2rem 2rem 0 0;
	height: 90%;
}

.catergory {
	/* background-color: pink; */
	padding: .25rem;
	height: fit-content;
	width: fit-content;
	margin: auto 1rem;
	font-size: calc(.75rem + 1vw);
	border-radius: .25rem;
}

@media (max-width: 210px) {
	.catergory {
		margin: auto .25rem;
	}
}

.projectTitleContainer {
	margin: .5rem auto;
	height: auto;
	width: fit-content;
	align-content: center;
	padding: .25rem;
	/* background-color: green; */
}

.projectTitle {
	margin: auto;
	height: 100%;
	align-content: center;
	text-align: center;
	font-size: calc(1.25rem + 2vw);
	color: #773a30;
}

.projectDescriptionContainer {
	margin: auto;
	height: auto;
	padding: 2rem 0;
	/* background-color: yellow; */
}

.projectDescription {
	margin: auto;
	width: 80%;
	min-width: 300px;
	padding: 1rem;
	font-size: calc(1rem + .5vw);
	/* background-color: purple; */
}

@media (max-width: 750px) {
	.projectDescription {
		font-size: 1.5rem;
	}

	.portfolioShowcaseText {
		font-size: 1.5rem;
	}
}

.featuresContainer {
	margin: auto;
	width: 82%;
	min-width: 300px;
	padding: .25rem;
	padding-bottom: .25rem;
	/* background-color: red; */
}

.featuresTitle {
	width: fit-content;
	position: relative;
	margin: 1rem 2vw;
	font-size: calc(1rem + .5vw);
	color: #773a30;
}

.feature {
	font-size: calc(1rem + .5vw);
	width: 85%;
	margin: 1.25vh auto;
	list-style-type: disc;
	/* background-color: grey;  */
}

@media (max-width: 750px) {
	.feature {
		font-size: 1.25rem;
	}

	.featuresTitle {
		font-size: 1.25rem;
	}
}

.liveLink {
	height: 2rem;
	align-content: center;
	/* background-color: brown; */
}

.liveLinkTextWrap {
	display: flex;
	justify-content: center;
	margin: auto;
	width: fit-content;
	/* background-color: grey; */
}

.liveLinkText {
	margin: 0;
	/* background-color: blue; */
}